<div ng-init="currentList = 'country'" class="col-md-8 col-md-offset-2">
  <h2 class="text-center">
    Beijing 2008 Olympics Medals
  </h2>
  <div class="text-center">
    <md-button class="md-raised md-small" ng-click="currentList = 'country'" ng-class="{'md-primary' : currentList == 'country'}">Country</md-button>
    <md-button class="md-raised md-small" ng-click="currentList = 'athlete'" ng-class="{'md-primary' : currentList == 'athlete'}">Athlete</md-button>
    <!--md-button class="md-raised md-small" ng-click="currentList = 'event'" ng-class="{'md-primary' : currentList == 'event'}">Event</md-button-->
  </div>

  <!-- exact table from live demo -->
  <md-table-container>
    <table md-table>
      <thead md-head md-order="query.order" md-on-reorder="getDesserts">
        <tr md-row>
          <th md-column></th>
          <th md-column width="70%" class="capitalize">{{currentList}}</th>
          <th md-column>Gold</th>
          <th md-column>Silver</th>
          <th md-column>Bronze</th>
          <th md-column>Total</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="item in main.manager[currentList] | orderObjectBy: 'position' : true">
          <td md-cell>{{$index + 1}}</td>
          <td md-cell>{{item.id}}</td>
          <td md-cell>{{item.medals.Gold || 0}}</td>
          <td md-cell>{{item.medals.Silver || 0}}</td>
          <td md-cell>{{item.medals.Bronze || 0}}</td>
          <td md-cell>{{(item.medals.Gold + item.medals.Silver + item.medals.Bronze) || 0}}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
</div>